---
import HelloWorld from "@components/hello-world";
import Layout from "./_components/layout.astro";
// const response = await fetch("/api/users");
// const result = await response.json();
// console.log(result);
// const empresaStore = useEmpresaStore(Astro.locals);
// console.log({empresaStore});
const empresa = Astro.locals.props;

// console.log({a:import.meta.env});
---

<Layout>
    <HelloWorld client:only="preact" />
    <h1>hos2</h1>
</Layout>
